VITE_CHAIN_ID=421614
VITE_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
VITE_MARKET_FACTORY=
VITE_MARKET_LENS=
VITE_COLLATERAL=
VITE_DEPLOY_BLOCK=
VITE_FAUCET=true
VITE_PASS_REGISTRY=
VITE_VERIFIER_URL=
VITE_DEMO_PASS=true
