RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
CHAIN_ID=421614
FEEDER_PRIVATE_KEY=
MARKET_FACTORY=
MARKET_LENS=
FLIGHT_REGISTRY=
MOCK_FEEDER_ADDRESS=
COLLATERAL=
RAPIDAPI_KEY=
RAPIDAPI_HOST=aerodatabox.p.rapidapi.com
LANDED_GRACE_MINUTES=30
